.windown{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(14, 14, 14, 0.315);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 3000;
}

.flex-escolha{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px;
}

.quadrado{
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 200px;

}