.card-poke{
    background-color: aliceblue;
    padding: 15px;
    margin-top: 6rem;
    border-radius: 20px;
    aspect-ratio: 3/4;
    background: rgba(247, 247, 247, 0.226);
    box-shadow: 2px 8px 20px 15px rgba(58, 58, 58, 0.562);
    cursor: pointer;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: none;
    transition: all ease .3s;
}

.card-poke:hover{
    transform: scale(0.95);
}

.card-poke img{
position: absolute;
transform: translateY(-9rem);
width: 100%;
}


.card-poke .title{
    padding-top: 2rem;
font-size: 1.4rem;
font-weight: 800;
}

.types-pokemon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding-top: 1rem;
}

.types-pokemon span{
padding: 2px;
width: 82px;
font-size: 1.2rem;
font-weight: 800;
text-align: center;
border-radius: 20px;
box-shadow: inset 0px 0px 10px 10px rgba(255, 255, 255, 0.336);
}

.id, .info h3{
    font-size: 1rem;
    font-weight: 700;
    color: #141414;
}

.info{
    display: flex;
    width: 95%;
    justify-content: space-between;
    padding-top: 1rem;
}

.info-peso, .info-altura{
text-align: center;
}

.info .info-altura h1, .info-peso h1{
    font-size: 1.2rem;
    font-weight: 800;
}


.fire{
    background-color: #ffb006d0;
}

.normal{
    background-color: rgb(127, 127, 127);
}

.psychic{
    background-color: rgb(190, 129, 210);
}

.bug{
    background-color: #92B34B;
}

.dragon{
    background-color: #1D69B2;
}

.electric{
    background-color: #E8D340;
}

.fairy{
    background-color: #C695CC;
}

.fighting{
    background-color: #9C3F61;
}

.flying{
    background-color: #96A7DD;
}

.ghost{
    background-color: #5A658F;
}

.grass{
    background-color: #67B567;
}

.water{
    background-color: #027AA9;
}

.steel{
    background-color: #4e4e4e;
}

.dark{
    background-color: #630bd4c0;
}

.ice{
    background-color: #67b5af;
}

.ground{
    background-color: #7a7540;
}

.rock{
    background-color: #4b4a39;
}

.poison{
    background-color: #6420be;
}


.fundo-grass{
    background-image: linear-gradient(to top, hsl(128, 56%, 32%), hsl(128, 64%, 27%), hsla(128, 61%, 36%, 0.282), hsla(128, 29%, 51%, 0.173));
}

.fundo-normal{
    background-image: linear-gradient(to top, #ffffff54, #b3b3b360, #bbbbbb1f, #ffffff00);
}

.fundo-fire{
    background-image: linear-gradient(to top, #802424, #721919, #96242448, #a65c5c2c);
}

.fundo-water{
    background-image: linear-gradient(to top, #245380, #193d72, #245f9648, #5c7aa62c);
}

.fundo-flying{
    background-image: linear-gradient(to top, hsl(295, 6%, 35%), hsl(0, 6%, 35%), hsla(0, 6%, 36%, 0.282), hsla(0, 6%, 35%, 0.173));
}

.fundo-poison{
    background-image: linear-gradient(to top, hsl(274, 56%, 32%), hsl(274, 64%, 27%), hsla(274, 61%, 36%, 0.282), hsla(274, 29%, 51%, 0.173));
}

.fundo-bug{
    background-image: linear-gradient(to top, hsla(107, 28%, 52%, 0.617), hsla(100, 64%, 27%, 0.863), hsla(100, 61%, 36%, 0.282), hsla(100, 29%, 51%, 0.173));
}

.fundo-dragon{
    background-image: linear-gradient(to top, hsla(228, 47%, 46%, 0.954), hsla(228, 64%, 27%, 0.697), hsla(228, 61%, 36%, 0.282), hsla(228, 29%, 51%, 0));
}

.fundo-ghost{
    background-image: linear-gradient(to top, hsla(268, 21%, 36%, 0.954), hsla(268, 64%, 27%, 0.697), hsla(268, 61%, 36%, 0.282), hsla(268, 29%, 51%, 0));
}

.fundo-steel{
    background-image: linear-gradient(to top, hsla(49, 6%, 64%, 0.954), hsla(60, 2%, 51%, 0.697), hsla(49, 18%, 58%, 0.282), hsla(49, 29%, 51%, 0));
}

.fundo-ice{
    background-image: linear-gradient(to top, hsla(171, 59%, 73%, 0.954), hsla(171, 64%, 27%, 0.697), hsla(171, 61%, 36%, 0.282), hsla(171, 29%, 51%, 0));
}

.fundo-psychic{
    background-image: linear-gradient(to top, hsla(288, 59%, 73%, 0.954), hsla(288, 29%, 44%, 0.697), hsla(288, 61%, 36%, 0.282), hsla(288, 29%, 51%, 0));
}

.fundo-ground{
    background-image: linear-gradient(to top, hsla(43, 18%, 61%, 0.954), hsla(43, 29%, 44%, 0.697), hsla(43, 61%, 36%, 0.282), hsla(43, 29%, 51%, 0));
}

.fundo-rock{
    background-image: linear-gradient(to top, hsla(42, 34%, 34%, 0.954), hsla(42, 34%, 44%, 0.697), hsla(42, 34%, 36%, 0.282), hsla(42, 34%, 51%, 0));
}

.fundo-dark{
    background-image: linear-gradient(to top, hsla(289, 26%, 24%, 0.954), hsla(288, 39%, 37%, 0.621), hsla(288, 34%, 36%, 0.282), hsla(288, 34%, 51%, 0));
}

.fundo-fighting{
    background-image: linear-gradient(to top, hsla(325, 68%, 36%, 0.954), hsla(325, 56%, 39%, 0.621), hsla(325, 59%, 21%, 0.282), hsla(288, 34%, 51%, 0));
}