html{
    scroll-behavior: smooth;
}

.interface-90{
    width: 90%;
    margin: 0 auto;
}

.container-PokeDex{
    padding-top: 6rem;
    background-color: #000000;
    height: min-content;
    padding-bottom: 10rem;
    min-height: 110vh;
}

